 ### 1. Carga de SQL extension

In [2]:
%load_ext sql

In [ ]:
%env DATABASE_URL=postgresql://***@localhost/food_claims_datacamp_cert

### 2. Check duplicates and NULL

In [6]:
##verificar que no hayan duplicados del campo claim_id (unique field)
%sql select claim_id, count(*) from claims group by 1 having count(*) >1;

 * postgresql://postgres:***@localhost/food_claims_datacamp_cert
0 rows affected.

[]

In [10]:
##check NULLS
%sql SELECT count(*) FROM claims where 	(claim_id IS NULL OR location IS NULL OR time_to_close IS NULL OR claim_amount IS NULL OR amount_paid IS NULL OR individuals_on_claim IS NULL OR linked_claims IS NULL OR cause IS NULL);


## 78rows were found with at least one field is NULL. In all cases the NULL values were found in the "cause" field.

 * postgresql://postgres:***@localhost/food_claims_datacamp_cert
1 rows affected.

[(78,)]

## 3. Validation and Cleaning

In [5]:
#debido a que no se especifica como fue el metodo de data entry del dataset. 
#Se corre query para descartar errores de espacios en el campo de interes claim_id

%sql update claims set claim_id=trim(claim_id);

 * postgresql://postgres:***@localhost/food_claims_datacamp_cert
98 rows affected.

[]

In [12]:
## extraer el dato de interes del string "claim_id"

%sql select *, split_part(claim_id,'.',5) as claim_number, split_part(claim_id,'.',2) as year from claims limit 5;

# De acuerdo al resultado de esta query, se procede a manipular el field "claim_id_ ya que el mismo esta compuesto 
# por dos valores relevantes, el año y lo que pareciera ser un numero consecutivo asignada a cada claim en ese año. 
# Por lo que se procede a agregar dos columnas a la base de datos, year y claim_number ambos extraidos de la 
# columna "claim_id".

 * postgresql://postgres:***@localhost/food_claims_datacamp_cert
5 rows affected.

[('0000000-00.2010.0.00.0094', Decimal('2082'), 'R$50,000.00', Decimal('34297.47'), 'RECIFE', Decimal('2'), 'FALSE', None, '0094', '2010'),
 ('0000000-00.2011.0.00.0086', Decimal('3591'), 'R$180,000.00', Decimal('56383.54'), 'SAO LUIS', Decimal('7'), 'FALSE', None, '0086', '2011'),
 ('0000000-00.2012.0.00.0092', Decimal('2997'), 'R$70,000.00', Decimal('12366.76'), 'SAO LUIS', Decimal('3'), 'FALSE', 'vegetables', '0092', '2012'),
 ('0000000-00.2013.0.00.0096', Decimal('1143'), 'R$95,104.00', Decimal('29217.16'), 'FORTALEZA', Decimal('4'), 'FALSE', None, '0096', '2013'),
 ('0000000-00.2014.0.00.0097', Decimal('117'), 'R$29,000.00', Decimal('12610.5'), 'FORTALEZA', Decimal('1'), 'FALSE', 'meat', '0097', '2014')]

In [13]:
## creacion de campos en tabla claims

%sql ALTER TABLE claims ADD COLUMN year smallint, ADD COLUMN claim_number numeric

 * postgresql://postgres:***@localhost/food_claims_datacamp_cert
Done.

[]

In [ ]:
# rellenar campo "year"

%sql update claims set year=split_part(claim_id,'.',2)::numeric

 * postgresql://postgres:***@localhost/food_claims_datacamp_cert
98 rows affected.

[]

In [17]:
# rellenar campo "claim_number"

%sql update claims set claim_number=split_part(claim_id,'.',5)::numeric

 * postgresql://postgres:***@localhost/food_claims_datacamp_cert
98 rows affected.

[]

In [ ]:
# El segundo campo a trabajar es "claim_amount". Ya que el mismo tiene el prefijo "R$" que es LC de Brasil, 
# y por ende y hacer las modificaciones para que el campo sea reconocido como numeric. 



%sql update claims set claim_amount=sub.new_amount2 from (with cte as (select claim_id, substring(claim_amount,3) new_amount from claims),cte2 as (select claim_id, split_part(new_amount,',',1) || split_part(new_amount,',',2) new_amount2 from cte) select claim_id, new_amount2 from cte2) as sub where claims.claim_id=sub.claim_id;

 * postgresql://postgres:***@localhost/food_claims_datacamp_cert
98 rows affected.

[]

In [ ]:
##modificar el data type del campo "claim_amount"


%sql ALTER TABLE claims ALTER COLUMN claim_amount TYPE numeric USING claim_amount::numeric;

 * postgresql://postgres:***@localhost/food_claims_datacamp_cert
Done.

[]

In [19]:
# Verificar si el campo el requisito - Character, location of the claim, one ofc


%sql select COUNT(*)  from claims where location NOT IN ('RECIFE', 'SAO LUIS','FORTALEZA', 'NATAL')

 * postgresql://postgres:***@localhost/food_claims_datacamp_cert
1 rows affected.

[(0,)]

In [21]:
## modificar los valores nulos por 'unknown'
%sql UPDATE claims set cause = 'unknown' where cause is NULL;

 * postgresql://postgres:***@localhost/food_claims_datacamp_cert
78 rows affected.

[]

In [22]:
# verificar si el campo "cause" se cumple el requisito - Character, the cause of the food poisoning injuries, 
# one of‘vegetable’, ‘meat’, or ‘unknown’.


%sql select count(*)  from claims where cause NOT IN ('vegetable', 'meat', 'unknown')

 * postgresql://postgres:***@localhost/food_claims_datacamp_cert
1 rows affected.

[(8,)]

In [23]:
## identificar casos que no cumplan el requisito del query anteiror

%sql select *  from claims where cause NOT IN ('vegetable', 'meat', 'unknown')

 * postgresql://postgres:***@localhost/food_claims_datacamp_cert
8 rows affected.

[('0000000-00.2016.0.00.0025', Decimal('1573'), Decimal('200000.00'), Decimal('150832.19'), 'RECIFE', Decimal('8'), 'FALSE', 'vegetables', 2016, Decimal('25')),
 ('0000000-00.2017.0.00.0031', Decimal('1169'), Decimal('400000.00'), Decimal('119084.55'), 'SAO LUIS', Decimal('17'), 'TRUE', 'vegetables', 2017, Decimal('31')),
 ('0000000-00.2018.0.00.0062', Decimal('1090'), Decimal('63872.00'), Decimal('35651.11'), 'RECIFE', Decimal('2'), 'FALSE', 'vegetables', 2018, Decimal('62')),
 ('0000000-00.2019.0.00.0065', Decimal('675'), Decimal('75000.00'), Decimal('35291.54'), 'RECIFE', Decimal('3'), 'FALSE', 'vegetables', 2019, Decimal('65')),
 ('0000000-00.2019.0.00.0047', Decimal('625'), Decimal('136367.00'), Decimal('67176.37'), 'SAO LUIS', Decimal('5'), 'FALSE', 'vegetables', 2019, Decimal('47')),
 ('0000000-00.2012.0.00.0092', Decimal('2997'), Decimal('70000.00'), Decimal('12366.76'), 'SAO LUIS', Decimal('3'), 'FALSE', 'vegetables', 2012, Decimal('92')),
 ('0000000-00.2019.0.00.0070', Decimal('504'), Decimal('136642.00'), Decimal('51334.1'), 'RECIFE', Decimal('6'), 'FALSE', 'vegetables', 2019, Decimal('70')),
 ('0000000-00.2020.0.00.0035', Decimal('60'), Decimal('736422.00'), Decimal('558725.77'), 'SAO LUIS', Decimal('32'), 'TRUE', 'vegetables', 2020, Decimal('35'))]

In [24]:
# modificacion de datos en campo "cause"

%sql update claims set cause = 'vegetable'where cause ='vegetables';

 * postgresql://postgres:***@localhost/food_claims_datacamp_cert
8 rows affected.

[]

In [20]:
# chequear que el campo "linked_cases" solo puede tener valores de TRUE OR FALSE


%sql select COUNT(*)  from claims where linked_claims NOT IN ('TRUE', 'FALSE')

 * postgresql://postgres:***@localhost/food_claims_datacamp_cert
1 rows affected.

[(0,)]

## 4. Descargar data limpia

In [25]:
%sql COPY claims to '/Users/eligiomorales/***/clean-data/claims.csv' csv header;

 * postgresql://postgres:***@localhost/food_claims_datacamp_cert
98 rows affected.

[]