### 1. SQL extension loaded

In [1]:
%load_ext sql

In [ ]:
%env DATABASE_URL=postgresql://***@localhost/food_claims_datacamp_cert

In [3]:
%sql SELECT current_date;

1 rows affected.

[(datetime.date(2022, 10, 31),)]

### 2.Exploration

In [ ]:
## explorar la variable numerica de interes "time_to_close"

%sql SELECT 'total', sum(time_to_close) as quantity FROM claims UNION SELECT 'average', round(avg(time_to_close),2) FROM claims UNION SELECT 'min', min(time_to_close)FROM claims UNION SELECT 'max', max(time_to_close) FROM claims UNION SELECT 'median', percentile_disc(0.5) WITHIN GROUP (ORDER BY time_to_close)FROM claims UNION SELECT 'range', max(time_to_close) - min(time_to_close) FROM claims ORDER BY 1;

## se encuentra un valor incoherente respecto a lo esperable. Por lo que se procede a eliminar.

In [ ]:
%sql DELETE FROM claims where time_to_close < 0

# solo se encuentra un valor que cumple la condicion, por lo que a partir de ahora, se tiene 97 rows.