### 1. Cargar SQL en notebook

In [2]:
%load_ext sql

In [3]:
%env DATABASE_URL=postgresql://postgres:mMPR85ZV6psocMUPR98DDKWz@localhost/food_claims_datacamp_cert

env: DATABASE_URL=postgresql://postgres:mMPR85ZV6psocMUPR98DDKWz@localhost/food_claims_datacamp_cert

In [4]:
%sql SELECT current_date;

1 rows affected.

[(datetime.date(2022, 10, 31),)]

### 2. Table creation

In [6]:
%sql CREATE TABLE claims (claim_id varchar(50) NOT NULL, time_to_close numeric, claim_amount varchar(50), amount_paid numeric,location varchar(25), individuals_on_claim numeric, linked_claims varchar(10), cause varchar(50))

 * postgresql://postgres:***@localhost/food_claims_datacamp_cert
Done.

[]

In [7]:
%sql COPY claims FROM '/Users/eligiomorales/proyectos_portafolio/food-claims-datacamp/raw-data/claims.csv' DELIMITER ','CSV HEADER;

 * postgresql://postgres:***@localhost/food_claims_datacamp_cert
98 rows affected.

[]